<%- include ("../partials/header") %>
<%- include("../partials/sidebar") %>

<div class="wrap">
	
<div class="loginWrapper fadeInDown">
	<div class="formContainer">
		<div class="">
			<p class="">Add New Comment To: " <%= page.name %> "</p>
    	</div>
		<form action="/pages/<%= page._id %>/comments" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="comment[text]" placeholder="text">
			</div>
			<div class="form-group">
				<button class="btn btn-large btn-secondary btn-block"> Add </button>
			</div>
		</form>
		<a href="/pages/<%= page.id %>">Go Back</a>
	</div>
</div>
	
</div>

<%- include ("../partials/footer") %>
