<%- include ("../partials/header") %>
<%- include("../partials/sidebar") %>

<main class="wrap fadeIn">

  <header class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome!</h1>
      <hr class="my-4">
      <p>
        <a class="btn btn-secondary btn-lg" href="/pages/new">Add New Page »</a>
      </p>
  </header>

  <section class="container">

    <div class="row">
      <% pages.forEach(function(page){ %>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <media class="p-3 m-2">
          <div class="grid">
            <figure class="effect-oscar">
              <img class="img img-responsive img-fluid rounded" src="<%= page.image %>">
              <figcaption>
                <h2><%= page.name %></h2>
                <a href="/pages/<%= page._id %>">View more</a>
                <p> $_$ </p>
              </figcaption>
            </figure>
          </div>
        </media>
      </div>
      <% }); %>
    </div>


  </section>

</main>

<%- include ("../partials/footer") %>
