<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>

<!-- MAIN Container -->
<div class="container-fluid fadeIn">
  <!-- MENU -->
  <div class="row">
    <aside class="col-lg-4 col-md-6 col-sm-12">
      <%- include("../partials/menu") %>
      <!-- /.MENU -->
    </aside>
    <!-- CONTENT Container -->
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="container-fluid">
        <div class="card-body mt-4 bg-light border">
          <div class="row p-3">
            <div class="col-sm-12">
              <img class="img img-shadow img-fluid" src=" <%= page.image %> ">
            </div>
            <div class="col-sm-12">
              <h5>Info</h5>
              <h4 class=""><strong>$<%= page.price %> / hour</strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="caption-full px-4">
                <h4><a><%= page.name %></a></h4>
                <p> <%= page.description %> </p>
              </div>
            </div>
          </div>
          <div class="row d-flex flex-row-reverse pr-3">
            <div class="col-sm-12 d-flex flex-row-reverse">
              <p><em>Posted by <strong class="text-primary"><%= page.author.username %> </strong></em> </p>
            </div>
            <% if( currentUser && page.author.id.equals(currentUser._id) ) { %>
            <a class="p-1 px-3 ml-1 btn btn-sm btn-outline-warning" href="/pages/<%=page._id %>/edit">Edit</a>
            <form id="delete-form" action="/pages/<%= page._id %>?_method=DELETE" method="POST">
              <button class="p-1 px-4 btn btn-sm btn-outline-danger">Delete</button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <!-- Comments Section -->
      <div class="container-fluid mt-4">
        <div class="text-black-50">
          <% page.comments.forEach(function(comment){ %>
          <div class="row border mt-1">
            <div class="col-sm-4">
              <div class="card-body">
                <img src="/images/def_face.jpg" width="64" height="64" class="img img-shadow" />
                <a class="d-flex text-primary" href="#"><strong><%= comment.author.username %></strong></a>
                <small class="text-secondary"> <%= comment.created.toDateString() %></small>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <p><%= comment.text %></p>
                <% if( currentUser && comment.author.id.equals(currentUser._id) ) { %>
                <section class="d-flex flex-row-reverse pr-3">
                  <form id="delete-form" action="/pages/<%= page._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <input class="btn btn-sm btn-outline-danger m-1" type="submit" value="Delete">
                  </form>
                  <a class="btn btn-sm btn-outline-warning m-1" href="/pages/<%= page._id %>/comments/<%= comment._id %>/edit">
                    <i class="fa fa-heart"></i> Edit</a>
                </section>
                <% } %>
              </div>
            </div>
          </div>
          <% }); %>
          <div class="row">
            <a href="/pages/<%= page._id %>/comments/new" class="mt-2 p-2 btn btn-secondary btn-block" role="button">
              <span class="glyphicon glyphicon-refresh"></span> Add New Comment »</a>
          </div>
        </div>
      </div>
    </div>
    <aside class="col-lg-2 d-md-none d-sm-none">

    </aside>
  </div>
</div>
<!-- /.Comments Section -->
<!-- /.CONTENT Container -->
<!-- /.MAIN Container -->

<%- include("../partials/footer") %>
